# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
build/
develop-eggs/
dist/
eggs/
*.egg-info/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
